table {
    width: 100%;
    border-collapse: collapse; /* Asegura que los bordes se junten */
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc; /* Añadir un borde general a toda la tabla */
}


table th, table td {
    border: 1px solid #ccc; /* Bordes individuales para celdas */
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #ff4d00

    ;
    color: white;
    text-transform: uppercase;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    cursor: pointer;
}

.color {
    border: 5px black solid
}

.right {
    float:right;
    width: 10%; 
    height: 100%;
}

header {
    width: 69%;
    height: 70px;
    background-color: #ffffff;
    padding: 5px;
}

h1 {
    width: 90%; 
    float: 
    left;
}
.tabla {
    width: 80%;
    
    
}
.sidebar {
    background-color: #ffffff;
    width: 20%;
    height: 900px;
    float: left;
    margin-top: -97px;
    


}
.caja-grande{
    width: 100%;

}

.caja-80 {
    width: 50%;
    float: right;
    background-color: #ffffff;
    position: relative;
    right: 358px;
}

html {
    background-color: #f0f0f0;
    font-family: Roboto;
}


ul {

    padding: 0;
    width: inherit;
    list-style: none;    
}

a {
    
    text-decoration: none;
    color: #84858f;

}

li {
    padding: 30px;
}

.seleccionado {
    text-decoration: none;
    color: #84858f;
}

span {
    text-decoration: none;
    color: #84858f;
    padding: 30px;
    
}

.btn {
    background-color: #ff4d00;
    width: 20%;
    padding: 10px;
    color: #ffffff;
    cursor:pointer;
    border-radius: 6px;
    border: none;
    margin: 12px;
}

  

select {
    background-color: transparent;
    border-radius: 6px;
    padding: 2px;
    margin: 10px;
}

.main-content {
    margin: 10px;
}

.btnd {
    background-color: #ff4d00;
    width: 10%;
    padding: 10px;
    color: #ffffff;
    cursor:pointer;
    border-radius: 6px;
    border: none;
}

.titulo1 {
    color: #a4a4a4;
    display: flex;
    border-left: 5px solid #ff4d00;
    padding: 5px;
}

.primeracaja{
    position: relative;
    left: 265px;
}

.fondotabla {
    background-color: #ffffff;
    width: 200px;
}

.main-content{
    float: right;
    height: 190px;
}
.filtrosrap {
    width: 75%;
    background-color: #ffece4;
    border-left: 5px solid #ff4d00;
    color: #ff4d00 !important;
    font-weight: bold;
    
}